{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Vous n'avez rien d'autre à faire qu'être içi ?!</h1>
        <p>Que voulez-vous savoir ? Allez plutôt vous promener de page en page.</p>
    </div>
{% endblock %}