{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Notre équipe</h1>
    
    {% set users = [
        {name: 'Emile Deballon', role: 'Glandeur et caféinomane.', email: 'scrupulus@symfony.com'},
        {name: 'Adrien Patuzzo', role: 'Développeur Fou.', email: 'adrien@symfony.com'},
        {name: 'Fred Le Sage', role: 'Shaman et grand cinéphile des années 60.', email: 'shaman@symfony.com'},
        {name: 'Perrine Mallard', role: 'Développeuse diabolique et grande cinéphile aguerrie fan de séries.', email: 'globulebob@symfony.com'},
        {name: 'Christophe Le Goff', role: 'Grand invocateur du Web à la barbe toujours bien taillée .', email: 'christophe@symfony.com'}
    ] %}

    <div class="row">
        {% for user in users %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">
                            Rôle : {{ user.role }}<br>
                            Email : {{ user.email }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}